
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

/**
 * Canvas
 */

#wrapper {
  border: black;
  border-style: solid;
  margin-top: 48px;
  border-width: 5px;
  align-items: center;
  width: 910px;
  height: 610px;
  margin: 60px 10px 10px 10px;
}

.whiteboard {
  height: 100%;
  width: 100%;
}

.colors {
  position: fixed;
  top: 0;
  margin: 7px;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
